* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #1F1F1F;
    color: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    /* width: 100vh; */
    /* height: 100vh; */
}

table th, table td {
    width: calc(56vh/8);
    height: calc(56vh/8);
    font-size: 5vh;
}

.c1 {
    /* lite */
    background-color: rgba(155, 0, 0, .9);
}

.c2 {
    /* dark */
    background-color: rgba(155, 0, 0, .9);
}

.c3 {
    /* picked */
    background-color: rgba(255, 55, 55, .9);
}

.p9812, .p9813, .p9814, .p9815, .p9816, .p9817 {
    cursor: pointer;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.p9818, .p9819, .p9820, .p9821, .p9822, .p9823 {
    color: black;
    text-shadow: 0px 0px 5px white;
}